{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {{ super() }}
  {% if tag == 'capitalization' %}
    <META NAME="ROBOTS" CONTENT="NOINDEX,NOFOLLOW" />
  {% elif tag == 'multiple' %}
    <meta name='robots' content='lookatthisone' />
    <meta name='robots' content='andlookhere, anotherone' />
    <meta name='robots' content='noindex' />
  {% else %}
    <meta name='robots' content={{tag}} />
  {% endif %}
{% endblock %}
{% block content %}
  {% include "links.html" %}
{% endblock %}
